In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Melbourne_housing_FULL.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [3]:
df.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Suburb,34857,351,Reservoir,844,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Address,34857,34009,5 Charles St,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rooms,34857.0,NaN,NaN,NaN,3.031012,0.969933,1.0,2.0,3.0,4.0,16.0
Type,34857,3,h,23980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Price,27247.0,NaN,NaN,NaN,1050173.344955,641467.130105,85000.0,635000.0,870000.0,1295000.0,11200000.0
Method,34857,9,S,19744,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SellerG,34857,388,Jellis,3359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,34857,78,28/10/2017,1119,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Distance,34856.0,NaN,NaN,NaN,11.184929,6.788892,0.0,6.4,10.3,14.0,48.1
Postcode,34856.0,NaN,NaN,NaN,3116.062859,109.023903,3000.0,3051.0,3103.0,3156.0,3978.0
Bedroom2,26640.0,NaN,NaN,NaN,3.084647,0.98069,0.0,2.0,3.0,4.0,30.0
Bathroom,26631.0,NaN,NaN,NaN,1.624798,0.724212,0.0,1.0,2.0,2.0,12.0
Car,26129.0,NaN,NaN,NaN,1.728845,1.010771,0.0,1.0,2.0,2.0,26.0
Landsize,23047.0,NaN,NaN,NaN,593.598993,3398.841946,0.0,224.0,521.0,670.0,433014.0
BuildingArea,13742.0,NaN,NaN,NaN,160.2564,401.26706,0.0,102.0,136.0,188.0,44515.0
YearBuilt,15551.0,NaN,NaN,NaN,1965.289885,37.328178,1196.0,1940.0,1970.0,2000.0,2106.0
CouncilArea,34854,33,Boroondara City Council,3675,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lattitude,26881.0,NaN,NaN,NaN,-37.810634,0.090279,-38.19043,-37.86295,-37.8076,-37.7541,-37.3902
Longtitude,26881.0,NaN,NaN,NaN,145.001851,0.120169,144.42379,144.9335,145.0078,145.0719,145.52635
Regionname,34854,8,Southern Metropolitan,11836,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Propertycount,34854.0,NaN,NaN,NaN,7572.888306,4428.090313,83.0,4385.0,6763.0,10412.0,21650.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB